.Home {
    .NavItem {
        height: 100%;
        margin: 0 10px;
        padding: 10px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
        transition: all 0.3s ease-in-out;

        .Card {
            height: 100%;
            background-color: rgba(255, 255, 224, 0.701);

            &:hover {
                background-color: rgba(255, 255, 224, 0.801);
            }
        }


        &:hover {
            background-color: rgba(227, 227, 227, 0.8);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        }
    }

    a {
        text-decoration: none;
        text-shadow: rgb(161, 161, 161) 2px 2px 2px;  
        &:hover {
            text-shadow: rgba(228, 228, 228, 0.513) 2px 2px 2px;
        }
    }
}