.PageSection {
    margin-bottom: 25px;
    .Title {
        text-align: left;
    }
    .Summary {
        text-align: left;
    }
    .Buttons {
        margin-bottom: 30px;
    }
    .Images {
        margin-top: 10px;
    }
    .Video {
        margin-top: 10px;
    }
}